{% extends 'libroOspiti/_base.html' %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <h2>Benvenuto nel nostro Libro degli Ospiti!</h2>
            <p>Lascia il tuo messaggio e saluta gli altri visitatori.</p>
            
            <!-- Form per inserire un messaggio -->
            <div class="card">
                <div class="card-header">
                    Aggiungi un Messaggio
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="name" class="form-label">Username</label>
                            <input type="text" class="form-control" id="name" name="username" required>
                        </div>
                        <div class="mb-3">
                            <label for="message" class="form-label">Messaggio</label>
                            <textarea class="form-control" id="message" name="message" rows="3" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Invia</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
