{% extends 'libroOspiti/_base.html' %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <h2>Benvenuto nel nostro Libro degli Ospiti!</h2>
            <!-- Elenco dei messaggi -->
            <div class="card mt-4">
                <div class="card-header">
                    Messaggi Recenti
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        {% for messaggio in messaggi %}
                        <li class="list-group-item">
                            <strong>{{messaggio.autore.username}}</strong> - <span class="text-muted">{{messaggio.data}}</span>
                            <p>{{messaggio.testo}}</p>
                        </li>
                        
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
