{% extends 'libroOspiti/_base.html' %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h2>Benvenuto nel nostro Libro degli Ospiti!</h2>

        <form method="POST" class="mb-4">
            {% csrf_token %}
            <label for="username">Seleziona un'autore da filtrare:</label>
            <div class="input-group">
                <select class="form-control" name="username">
                    <option value="">Tutti</option>
                    {% for autore in autori %}
                        <option value="{{ autore.username }}" {% if request.POST.username == autore.username %}selected{% endif %}>{{ autore.username }}</option>
                    {% endfor %}
                </select>
                <button class="btn btn-primary" type="submit">Filtra</button>
            </div>
        </form>
        <br>
        <div class="card mt-4">
            <div class="card-header">
                Messaggi Recenti
            </div>
            <div class="card-body">
                <ul class="list-group">
                    {% for messaggio in messaggi %}
                        {% if  autoreDaMostrare == "" or  autoreDaMostrare == messaggio.autore.username   %}
                            <li class="list-group-item">
                                <strong>{{ messaggio.autore.username }}</strong> - <span class="text-muted">{{ messaggio.data }}</span>
                                <p>{{ messaggio.testo }}</p>
                            </li>
                        {% endif %}
                    {% endfor %}
                    {% if not messaggi %}
                        <li class="list-group-item">Nessun messaggio trovato.</li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
